
<%= form_for @user do |f| %>
  <%= f.label :name,"First name" %>
  <%= f.text_field :name %>
  <%= f.label :email,"First name" %>
  <%= f.text_field :email %>
  <button class="button" type="submit">Submit</button>

<% end %>